# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv/
venv/
ENV/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
